body {
  background-color: rgb(26, 189, 11);
}
.header-flex {
  display: flex;
  justify-content: space-between;
}

section {
  display: flex;
  justify-content: center;
  padding: 100px;
  margin: 100px;
}

.quiz-box {
  background-color: rgb(207, 76, 76);
  display: inline-block;
  padding: 50px;
  margin: 50px;
  border: 3px solid black;
}

button {
  background-color: green;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 25px 5px 50px;
}
 